  <div class="container-fluid mt-2 about-style" id="aboutid">
       <div class="row">
           <div class="col-md-10  col-12 mx-auto" >
               <h1 class="text-center main-heading">About us</h1>
               <p class="text-center main-heading">Grow your skills with us</p>
               <div class="row">
                   <div class="col-md-6 col-12 grow-text ">
                       <figure>
                           <img src="images/2.jpg" alt="">
                       </figure>
                   </div>
                  
                   {{!-- right side --}}
                    <div class="col-md-6 col-12 grow-text  mt-5 ">
                        <h1>We are the best for </h1>
                        <h1>developing technical field</h1>
                        <p>We are the unit of <span class="bold-style">professional engineers </span></p>
                        <button class="btn-style btn-primary">Read more</button>
                   </div>
                   
               </div>
            
           </div>
       </div>
   </div>