
 <div class="container-fluid mt-2 about-style" id="serviceid">
       <div class="row">
           <div class="col-md-10  col-12 mx-auto" >
               <h1 class="text-center main-heading">Our Services</h1>
               <p class="text-center main-heading">Grow your business with us</p>
               <div class="row">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/webdev.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Web Development</h5>
    <p class="card-text">The work that happens behind the scenes to make a website look great, work fast and perform well</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/mobile.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Mobile App Development</h5>
    <p class="card-text">The mobile back-end facilitates data routing, security, authentication, authorization etc.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/qa.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Quality Assurance</h5>
    <p class="card-text">Monitoring the software engineering processes used in a project to ensure proper quality of the software</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/seo.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">SEO</h5>
    <p class="card-text">Optimizing your online content so that a search engine likes to show it as a top result for searches of a certain keyword</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/system.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">System Administrator</h5>
    <p class="card-text"> Responsible for the daily management, upkeep, and configuration of business computer systems. </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/support.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">IT Support</h5>
    <p class="card-text">Installing and configuring computer hardware, software, systems, networks, printers, and scanners</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</div>
</div>
</div>